################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CaixaEletronicoSimples/bin/Debug
/CaixaEletronicoSimples/obj/Debug
